
<!-- ==================================================
Tabs Component
--------------------------------------------------
汎用タブコンポーネント

■ 概要
--------------------------------------------------
タブUIを生成するコンポーネント。
タブのラベルと内容は data から渡す。

Tabsは「コンテナUI」として設計しており、
各タブの中身は自由なHTMLを入れることができる。

■ データ構造（例）
--------------------------------------------------
[
    {
        "label": "小学生コース",
        "content": "<p>基礎学力を育てるコース</p>"
    },
    {
        "label": "中学生コース",
        "content": "<p>高校受験対策</p>"
    }
]

■ contentについて
--------------------------------------------------
contentは {{{content}}} で描画されるため、
HTMLをそのまま書くことができる。

例：

{
    "label": "コース紹介",
    "content": "<img src='/images/course.jpg'><p>内容説明</p>"
}


■ 構造
--------------------------------------------------
.tabs
    ├ tabs__nav      : タブボタン
    └ tabs__content  : タブ内容
        └ tabs__panel

JSにより tabs__btn クリック時に
対応する tabs__panel を表示する。

================================================== -->

<div class="tabs">

    <div class="tabs__nav">

        {{#each tabs}}

        <button class="tabs__btn {{#if @first}}is-active{{/if}}" data-tab="tab{{@index}}">

            {{label}}

        </button>

        {{/each}}

    </div>


    <div class="tabs__content">

        {{#each tabs}}

        <div class="tabs__panel {{#if @first}}is-active{{/if}}" id="tab{{@index}}">
    
            {{{content}}}

        </div>

        {{/each}}

    </div>

</div>